.section-6{
    color: $dark-blue;
    z-index: 20;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4.1666666vw;
    padding-right: 4.1666666vw;
    position: relative;
    display: block;
}

.section-6 .sec-6-content {
    text-align: center;
    margin: auto;
}

.section-6 .sec-6-content h2{
    border-color: $magenta;
    color: $magenta;
    border-top: 3px solid;
    text-transform: uppercase;
    letter-spacing: .03rem;
    font-size: $size-rem-2;
    line-height: 1.25;
    margin-bottom: 3rem;
    padding-top: 1rem;
    display: inline-block;
}
.section-6 .sec-6-content p{
    text-align: left;
    font-size: $size-rem-125;
    line-height: 1.4;
    margin: auto;
}

.sec-6-btn{
    margin-top: 3rem;
}
@media (min-width: 960px){
    .section-6{
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 16.66666vw;
        padding-right: 16.66666vw; 
    }
    .section-6 .sec-6-content {
        width: 66.66%;
    }
}