button {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .05rem;
    border: none;
    outline: none;
    transition: .3s;
    border: 2px solid transparent;


    background-color: $red-shade-1;
    color: $white;
    fill: $white;
    width: auto;
    font-weight: 600;
    margin-left: 2rem;
    margin: 0;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    font-size: $size-rem-09;
  }

 button:hover {
    fill: $black;
    background: $white;
    color: $red-shade-1;
    border-color: $red-shade-1;
    opacity: 1;
  }