/*-------------Menu styles-----------*/
.js-nav__wrapper{
    background-color: $dark-blue;
    color: $black-shade-1;
    fill: $black-shade-1;
    z-index: 400;
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    background-position: right top;
    height: 0;
}

.menu-icon{
  z-index: 100;
  cursor: pointer;
  padding: 1rem;
  right: 0;
  top: 0;
  position: absolute;
}
.menu-icon .bar{
  margin-top: 5px;
  color: $red-shade-1;
  fill: $red-shade-1;
  width: 1.5rem;
  border: 1px solid;
  border-width: 1px;
}
.js-nav--main{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .js-nav--main:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $main-bg;
    opacity: 0;
    transition: .1s;
  }
  .js-nav--main.isScrolled:before{
    opacity: 1;
  }
   .logo{
    width: 8.333%;
    pointer-events: auto;
    z-index: 20;
    color: $white;
    fill: $white;
    font-size: $size-rem-125;
    line-height: 1.4;
    align-items: center;
    height: 2rem;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
   }
   .logo img{
    width: 18rem;
    margin-right: 1rem;
    display: block;
  }
   
  .menu{
    pointer-events: auto;
    display: none;
    align-items: center;
    padding: 1rem;
    left: 0;
    top: 0;
    position: relative;
  }
  
  .menu a{
    padding: .5rem;
    font-size: $size-rem-1;
    color: $white;
  }
  
  .menu a h5{
    position: relative;
    padding: 1vh 0;
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-weight: 5vh;
    margin-top: 0rem; 
    margin-bottom: 0rem;
    font-size: $size-rem-2;
    line-height: 1.25;
  }
  
  
  .js-nav--main .menu-item:before {
    width: 0;
    content: '';
    position: absolute;
    bottom: 2px;
    right: 0;
    height: 1px;
    background-color: $red-shade-1;
    transition: .3s;
    z-index: 1;
  }

  .request-a-demo-btn{
    width: 100%;
    margin-top: 1rem;
  }

  @media (max-width: 960px){
    .is-menu-open .menu {
      position: absolute;
      top: 0;
      left: 0;
      background: $dark-blue;
      padding: 3rem;
      display: block;
      width: calc(100vw - 6rem);
      height: 100vh;
    }
    .m-t-3 {
      margin-top: 3rem !important;
    }
  }
  @media (min-width: 960px){
  .js-nav__wrapper {
    transition: 0.3s ease-out;
  }
  .menu-icon{
    display: none;
  }
  .menu{
    display: flex;
    margin-top: 0rem; 
    width: auto;  
  }
  .logo{
    margin-left: 2rem;
    padding: 0rem;
   }
   .menu a h5{
    margin-right: 2rem;
    margin-top: 0rem;
    font-size: $size-rem-09;
    line-height: 1.5;
  }
  .js-nav--main .menu-item:hover:before {
    width: calc(1px + 100%);
  }
  .menu .border-right{
    border-right:1px solid rgba(255, 255, 255, 0.2);
    margin-right: 2rem; 
  }
  .request-a-demo-btn{
    width: auto;
    margin-left: 2rem;
    margin-top: 0rem;
    margin: 0;
  }
}