.request-demo-modal{
    background: $white;
    color: $dark-blue;
    z-index: 400;
    height: 100vh;
    width: 92%;
    overflow: auto;
    padding: 8rem 4.16666vw;
    right: 0;
    top: 0;
    position: fixed;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(20px, 0, 0);
    transition: 0.1s ease-in;
    border-left: 1px solid $gray-shade-1;
    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate3d(0, 0, 0);
        transition: 0.2s ease-out;
    }
    .request-demo-close{
        cursor: pointer;
        font-weight: 600;
        margin-right: 4.1666666vw;
        top: 2rem;
        position: absolute;
        font-size: $size-px-16; 
    }

    .request-demo-form-wrapper{
        width: 100%;
        text-align: left;
        margin-bottom: 5rem;
        margin-right: auto;
        margin-left: auto;
        .input-field-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 2rem;
            margin-bottom: 0rem;
            input{
                width: 100%;
                background-color: $gray-shade-1;
                color: $dark-blue;
                border-bottom: 1px solid $magenta;
                font-size: $size-rem-15;
                line-height: 1.3;
                margin-top: 1rem;
            }
        }
    }
    .send-request-submit-btn{
        width: 100%;
    }
    .request-demo-form-success{
        transition-duration: .5s;
        display: none;
        opacity: 0;
        h1{
            width: 100%;
            font-size: $size-rem-35;
            margin-bottom: 0rem;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
}

@media (min-width: 960px){
    .request-demo-modal{
        width: 33.3333%;
    }
}