.section-4{
    color: $black-shade-1;
    fill: $black-shade-1;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4.1666666vw;
    padding-right: 4.1666666vw;
    display: block;
    .sec-4-content {
        text-align: center;
        margin: auto;
        h2{
            border-color: $magenta;
            color: $magenta;
            border-top: 3px solid;
            text-transform: uppercase;
            letter-spacing: .03rem;
            font-size: $size-rem-2;
            line-height: 1.25;
            margin-bottom: 3rem;
            padding-top: 1rem;
            display: inline-block;
        }
        p{
            text-align: left;
            font-size: $size-rem-125;
            line-height: 1.4;
            margin: auto;
        }
    }
}

@media (min-width: 960px){
    .section-4{
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 16.66666vw;
        padding-right: 16.66666vw;
    }
}