.section-4{
    color: #0b0b0b;
    fill: #0b0b0b;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4.1666666vw;
    padding-right: 4.1666666vw;
    display: block;
}

.section-4 .sec-4-content {
    text-align: center;
    margin: auto;
}

.section-4 .sec-4-content h2{
    border-color: #E52C58;
    color: #E52C58;
    border-top: 3px solid;
    text-transform: uppercase;
    letter-spacing: .03rem;
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 3rem;
    padding-top: 1rem;
    display: inline-block;
}
.section-4 .sec-4-content p{
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.4;
    margin: auto;
}

@media (min-width: 960px){
    .section-4{
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 16.66666vw;
        padding-right: 16.66666vw;
    }
}