h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: calc(26px + (34 - 26) * (100vw - 320px) / (1680 - 320));
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: calc(32px + (60 - 32) * (100vw - 960px) / (1680 - 960));
  font-weight: 200;
}

p, blockquote {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.7;
  max-width: 720px;
  font-weight: 300;
}

.bg-pattern {
  background-image: url(./assets/images/patternbg.png);
  background-size: 200px;
}

.magenta {
  color: #E52C58;
}

.bg-divider {
  background-color: #EEEEF0;
}